.body{
	
	
	margin: none;
	padding: none;
	

}
.top{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color: hsl(287, 53%, 18%, 0.6);
	background-image: url("../bin/topbar.jpg");
	background-size: cover;
	color: rgba(255, 255, 255, 0.527);

    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
	font-weight: bolder;
    text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
    line-height: 50px;
	font-size: 30px;
	text-size-adjust: 100%;
	background-size: auto;

	
}

.nav{
	background-color: rgb(21, 3, 32); 
	list-style: none;
	text-align: left;
    font-family: "Cooper";
	font-weight: bold;
	text-shadow: 5px 5px 10px #000000;
    padding-top: 4px;
	padding-left: 50px;
	padding-bottom: 4px;
	
    margin: 0;


}
 
.nav li{
	background: -moz-linear-gradient(to bottom, rgb(94, 23, 114), rgba(144, 36, 173, 1));
	border-radius: 10px;
  	table-layout: auto;
	display: inline-block;
	font-size: 20px;
	padding: 15px;
	margin: none;
}

.nav a{
	display: block;
	width: 100;
	height: 50;
	text-decoration: none;
}

#bode {
	background-image: url("../bin/bckgrnd.png");
	
}
   
#search{  
	margin-right: 100px;
	margin-bottom: 10px;
}
#search form{
	float: right;

}
.link {
	color: rgb(255, 255, 255);
    text-decoration: none;
}
#container {
	margin-top: 30px;
    margin-left: 30px;
    position: relative;
	width: 60%;
	height: 670px;
}
#frame {
	border-radius: 4px;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	padding-left: 30px;
	padding-right: 20px;
	top: 0;
	height: 90%;
	width: 100%;


}

.text1 {
	color: white;
    font-family: "Gill Sans", sans-serif;
	position: absolute;
	text-align: left;
	margin-left: 20px;
	opacity: 1;
	
}

.sidebar {
	
	position: relative;
	margin-left: 120%;
	padding-top: 10px;
	height: 700px;
	
}

#box {
	background-blend-mode: hard-light;
	border-radius: 4px;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 215px;
	height: 640px;
	opacity: 0.8;

}

#content {
	position: absolute;
}
.footer {
    
	background-image: -moz-linear-gradient(to bottom, rgba(37, 19, 43, 0.9),rgba(113, 28, 136, 0.959));
	
	
	padding-top: 20px;
	padding-bottom: 0px;
    padding-left: 10px;
	padding-right: 0px;
    height: 120px;
    font-family: "Arial";
	color: rgb(201, 189, 198);
	text-shadow: 5 5 10 #000000;
	border-radius: 15px;
	font-size: 10px;
	overflow: auto;

}

.social {
	display: inline-block;

}

#info {
	padding-left: 10px;
	font-size: 14px;
}